doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    base(href="/")
    
    title="folio"

    link(rel="stylesheet" type="text/css" href="styles/index.css")

  body 
    include ./navigation.pug
    include ./overlayNav.pug
    include ./projectDetail.pug
    include ./screenDummy.pug
    #canvas

    script.
      window.PROJECTS = !{JSON.stringify(projects).replace(/<\//g, "<\\/")}
    script(src="src/app2.js")