* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* cursor: none; */
}

#canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

// #debug {
//   z-index: 2;
//   position: absolute;
//   width: 300px;
//   right: 0;
//   height: 0;
// }

/* Translucent pane */
:root {
  --tp-base-background-color: #2f313740;
}
.tp-rotv,
.tp-clpv {
  z-index: 1000;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.tp-dfwv {
  z-index: 2;
}
